.quiz{
    width: 270px;
    height: 330px;
    border-radius: 5px;
    
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);  
}
.quiz img{
    width: 250px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(237, 240, 239);
}
.name{
    margin-left:10px ;
}
.start-btn a{

    text-decoration: none;
}
.start-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
   

}
.start-btn button{
   
    background-color: rgb(17, 154, 154);
    border: none;
    padding: 8px;
    color: aliceblue;
    border-radius: 5px;
    font-size: 16px;
}
